@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@layer utilities {
}

.navbar-shadow {
  box-shadow: inset 0 0 270px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.5);
}

.low-brightness {
  filter: brightness(0.5);
  transition: filter 0.3s ease;
}

.AnflvTl {
  text-align: center;
  letter-spacing: -1px;
  padding: 10px 20px;
  border-radius: 5px;
  border-bottom: 3px solid #01bcf3;
  margin-bottom: 20px;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

.title-page {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  padding: 5px 0;
  color: #3b4248;
}

.subtitle-page {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  padding: 5px 0;
  color: #3b4248;
  margin: 4px 0;
}

.today-text {
  line-height: 30px;
  min-width: 65px;
  padding: 0 15px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.ListEpisodios .Image::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 3;
  opacity: 0.8;
  pointer-events: none;
}

/*------------ Latest Card ------------*/

.Anime {
  position: relative;
}

.Anime.alt.B .Image {
  margin-bottom: 10px;
}

.Estreno {
  position: absolute;
  left: -5px;
  top: -5px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  z-index: 3;
}

.Estreno:after {
  right: 5px;
  top: 0;
  background-color: #007a2d;
  width: 7px;
}

.Estreno:before {
  left: 0;
  bottom: 5px;
  background-color: #007a2d;
  height: 7px;
}

.Estreno:before,
.Estreno:after {
  position: absolute;
  width: 5px;
  height: 5px;
  content: "";
  z-index: 1;
}

.Estreno span {
  transform: rotate(-45deg);
  position: absolute;
  left: -25px;
  top: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  background-color: #01ae43;
  z-index: 2;
  line-height: 25px;
}

.Anime.alt > a > .Title {
  font-size: 13px;
  white-space: normal;
  line-height: 20px;
  font-weight: 700;
  max-height: none;
  text-align: center;
  color: #000;
  transition: 0.2s;
  padding: 0;
}

.Anime.alt .Image {
  margin-bottom: 5px;
  overflow: inherit;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.Anime .Image {
  position: relative;
  padding-top: 130%;
  overflow: hidden;
}

.Anime.alt figure img {
  border-radius: 5px;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  left: 5px;
  top: 5px;
}

.Anime .Image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}

figure img {
  display: block;
}

.Type.tv {
  background-color: #01bcf3;
  border-color: #01bcf3;
}

li .Type {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 16px;
}

.Type {
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  width: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  height: 16px;
  border-radius: 8px;
}

.Anime.alt .Type {
  left: 10px;
  bottom: 10px;
  border-radius: 15px;
}

.Anime .Type {
  left: 0;
  bottom: 2px;
  border-radius: 0;
  opacity: 1;
  right: auto;
  margin: 0;
  top: auto;
  height: 20px;
  line-height: 20px;
}
